<div class="container">
  <h1>
    Scaling Rotary Phone
  </h1>
  <div class="row">
    <div class="col-md-12">
      <div class="btn-group button-bar">
        <span class="btn btn-default btn-file"><span>Choose file</span>
          <input type="file" id="inputMap" (change)="fileChange($event)"/>
        </span>
        <button class="btn btn-primary" (click)="toggleColorScheme()">Change color scheme</button>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-9">
      <div id="escher-target" [ngClass]="{'green-scheme': greenScheme}"></div>
    </div>

    <div class="col-md-3">
      <div *ngIf="nodeStats" class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Node stats</h3></div>
        <table class="table table-striped">
          <tr *ngFor="let nodeStat of nodeStats">
            <td>{{ nodeStat.key }}</td>
            <td> {{ nodeStat.value }}</td>
          </tr>
        </table>
      </div>

      <div *ngIf="selectedSegment" class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Selected segment</h3></div>
        <div class="panel-body">
          <div><label for="from">From:</label> {{ selectedSegment.from.name || selectedSegment.from.node_id }}</div>
          <div><label for="to">To:</label> {{ selectedSegment.to.name || selectedSegment.to.node_id }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
