/* You can add global styles to this file, and also import other style files */
#escher-target.green-scheme svg.escher-svg .segment {
  stroke: #33754E;
}

#escher-target.green-scheme svg.escher-svg .arrowhead {
  fill: #33754E;
}

/* source: https://github.com/jasny/bootstrap/blob/master/less/fileinput.less#L5 */
.btn-file {
  display: inline-block;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}
.btn-file > input {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 23px;
  cursor: pointer;
  filter: alpha(opacity=0);
  opacity: 0;

  direction: ltr;
}
